.caixa-cartoes{
    display: flex;
    justify-content: center;
}

.caixote{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
}

.caixote img{
    width: 100%;
    border-radius: 15px;
}

.item h2{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p{
    padding: 3px;
    text-align: justify;
}

button{
    padding: 10px;
    border-radius: 15px;
    background-color:rgba(87, 153, 230, 0.747)
}